
    <form>
        <div class="from-group">
          <h4>Curso - Incluir</h4>    
          <label for="nome">Nome:</label>
          <br>
          <input type="text" required/>
        </div>
        <div class="from-group">
          <label for="instrutor">Instrutor:</label>
          <br>
          <input type="text" required/>
        </div>
        <div class="from-group">
          <label for="local">Local:</label>
          <br>
          <input type="text" required/>
        </div>
        <div class="from-group">
          <label for="cargaHoraria">Carga Horária:</label>
          <br>
          <input type="text" required/>
        </div>
        <div class="from-group">
          <label for="dataInicio">Data Início:</label>
          <br>
          <input type="text" required/>
        </div>

        <div>
        <br>
        <input class="botao" type="submit" value="Incluir" onclick="return addToTable()" [routerLink]="['/']"/>
        <input class="botao" type="submit" value="voltar" [routerLink]="['/']" />
        <br>        
        </div>
      </form>

